@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    background-color: #eee;
    font-family: Source Sans Pro;
    border-color: #eee;
}

ul {
    list-style-type: none;
    text-align: center;
    border-bottom: 1px solid #777;
    border-top: 1px solid #777;
    padding: 3px;
    color: #777;
}

nav {
    position: sticky;
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    color: #777;
    background-color: white;
}

nav li {
    display: inline-block;
    padding: 8px;
    background-color: white;
    font-size: 15px;
}

header {
    font-family: Abril Fatface;
    display: block;
    text-align: center;

}

.newspaper-container {
    width: 700px;
    border-radius: 30px;
    box-shadow: 10px 10px 10px #ddd;
    padding: 30px;
    margin: auto;
    background-color: white;
}

h1 {
    text-align: center;
    font-family: Roboto Slab;
    font-size: 50px;
}

main h2 {
    font-family: Roboto Slab;
}

h4 {
    font-family: Roboto Slab;
}

main img {
    width: 100%;
}

footer {
    text-align: center;
}

main h5 {
    color: #dd3232;
}

.more-articles {
    display: inline-block;
    top: 5px;
    border-top: 3px solid #777;

}




.date {
    text-align: left;
}